{% extends 'base.html.twig' %}
{% block title %}Edition d'un Template de Monstre {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Editer un monstre</h2>

    {{ include('encyclopedia/monster_template/_form.html.twig') }}
{% endblock %}