{% extends 'base.html.twig' %}
{% block title %}Home Page{% endblock %}

{% block main %}
    Bonjour {{ user.username }}
    Quelle aventure vous attend aujourd'hui ?

    <ul>
    {% for game in games %}
        {% if game.gamemaster.id == app.user.id %}
            <li>{{ game.name}} <a href="{{ path('game_master_show_game', {'id': game.id}) }}"> >>> </a></li>
        {% else %}
            <li>You're a player!</li>
        {% endif %}
    {% endfor %}
    </ul>

    Créer une nouvelle partie: <a href="{{ path('create_game') }}"> >>> </a>
{% endblock %}