{% extends 'base.html.twig' %}
{% block title %}Modifier le personnage de {Nom de l'user} {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Mise à jour de personnage</h2>

    {{ include('character/_form.html.twig') }}
{% endblock %}