{% extends 'base.html.twig' %}
{% block title %}Mettre à jour un Skill{% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Edition de {{ skill.name }}</h2>

    {{ include('encyclopedia/skill/_form.html.twig') }}
{% endblock %}