{% extends 'base.html.twig' %}
{% block title %}Mettre à jour un Template de PNJ{% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Editer un template de PNJ</h2>

    {{ include('encyclopedia/npc_template/_form.html.twig') }}
{% endblock %}