{% extends 'base.html.twig' %}
{% block title %}Créer un Objet {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Création d'un objet</h2>

    {{ include('encyclopedia/item/_form.html.twig') }}
{% endblock %}