{% extends 'base.html.twig' %}
{% block title %}Mettre à jour un objet{% endblock %}

{% block main %}
    <h2>Mise à jour de {{ item.name }}</h2>

    {{ include('encyclopedia/item/_form.html.twig') }}
{% endblock %}