{% extends 'base.html.twig' %}
{% block title %}Edit {{ monster.name }} {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Mise à jour d'un monstre</h2>

    {{ include('monster/_form.html.twig') }}
{% endblock %}