{% extends 'base.html.twig' %}
{% block title %}Editer un template de Personnage {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Editer un template de Personnage</h2>

    {{ include('encyclopedia/character_template/_form.html.twig') }}
{% endblock %}