{% extends 'base.html.twig' %}
{% block title %}Créer un Equipement {% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Back</a>
    <h2>Création d'un Equipement</h2>

    {{ include('encyclopedia/armament_template/_form.html.twig') }}
{% endblock %}