<div class="bg-gray-400 w-48 h-28 flex flex-col" {{ attributes }}>
    <img class="w-12 h-12 my-2 rounded-full shadow-lg -left-6 object-cover self-center" src="{{ asset('images/sword.jpg') }}" alt="Bonnie image"/>
    <span class="truncate px-2">
        {{ name }}
    </span>
    <br/>
    <span class="italic text-xs">
        {{ type }}
    </span>
</div>