{% extends 'base.html.twig' %}
{% block title %}Créer un Talent{% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Création d'un talent</h2>

    {{ include('encyclopedia/talent/_form.html.twig') }}
{% endblock %}