{% extends 'base.html.twig' %}
{% block title %}Mettre à jour un Talent {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Edition d'un talent</h2>

    {{ include('encyclopedia/talent/_form.html.twig') }}
{% endblock %}