{% extends 'base.html.twig' %}
{% block title %}Mettre à jour un PNJ {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Mise à jour d'un Personnage non-joueur</h2>

    {{ include('non_playable_character/_form.html.twig') }}
{% endblock %}